.keyboard-container {
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}
.keyboard-container li:last-child {
  margin-right: 0px;
}
.keyboard-container li button {
  width: 100%;
  height: 100%;
  display: flow-root;
  position: center;
  font-size: 1.8vw;
  background-size: strech;
  border-radius: 10px;
}
.keyboard-container ul li button:hover,
.keyboard-container ul li button:visited,
.keyboard-container ul li button:active,
.keyboard-container ul li button:focus {
  text-decoration: none;
}
.keyboard-container li button.enter-key {
  padding: 0px 40px;
}
.keyboard-container ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-wrap: nowrap;
}
.keyboard-container ul li {
  flex-basis: 100%;
  height: 60px;
  font-size: 1.5vw;
  margin: 0 0.3vh 0.5vh;
  line-height: 60px;
  font-family: arial;
  text-align: center;
  cursor: pointer;
  list-style: none;
}

/* color - for theming purpose */

.keyboard-container {
  background: #1f3642;
}
.keyboard-container li button {
  background: #333036;
  color: #deedf1;
  border-color: rgb(235, 214, 214);
}
.keyboard-container .shift-activated {
  background: #117967 !important;
}
.keyboard-container .enter-key {
  background: #969597 !important;
}
.keyboard-container .back-key {
  background: #969597 !important;
}
.keyboard-container .clear-key {
  background: #969597 !important;
}
.keyboard-container .space-key {
  background: #969597 !important;
}
.keyboard-container .shift {
  background: #969597 !important;
}
